<form method="post" action="{{ path('neoprint_delete', {'id': neoprint.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ neoprint.id) }}">
    <button class="btn btn-danger btn-block">Supprimer</button>
</form>
