{% extends 'base2.html.twig' %}

{% block title %}New Neoprint{% endblock %}

{% block body %}
<div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Tableau de bord</a>
            </li>
            <li class="breadcrumb-item active">Ajout nouvelle image Neoprint</li>
          </ol>

          <!-- Icon Cards-->
          <div class="row">
          	<div class="col-md-6 offset-3">
          		{{ include('neoprint/_form.html.twig') }}

          	</div>
 		
          </div>




        </div>
    </div>
   {#  <h1>Create new Neoprint</h1>

    {{ include('neoprint/_form.html.twig') }}

    <a href="{{ path('neoprint_index') }}">back to list</a> #}
{% endblock %}
