{% extends 'base2.html.twig' %}

{% block title %}Edit ImgPrint{% endblock %}

{% block body %}
    <h1>Edit ImgPrint</h1>

    {{ include('img_print/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('img_print_index') }}">back to list</a>

    {{ include('img_print/_delete_form.html.twig') }}
{% endblock %}
