{% extends 'base2.html.twig' %}

{% block title %}New ImgPrint{% endblock %}

{% block body %}
    <h1>Create new ImgPrint</h1>

    {{ include('img_print/_form.html.twig') }}

    <a href="{{ path('img_print_index') }}">back to list</a>
{% endblock %}
